# Deployment Configuration
server:
  image:
    repository: "prefecthq/prefect"
    prefectTag: "2.10.4-python3.11-kubernetes"
  publicApiUrl: "http://<CLUSTER-IP>:<PREFECT-API-PORT>/api"
service:
  type: NodePort
  nodePort: <PREFECT-API-PORT>

# Postgresql configuration
postgresql:
  auth:
    password: password
  primary:
    persistence:
      enabled: true
